---
layout: page
title: Moiz Hussain
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">MOIZ HUSSAIN</h1>
          <h2 class="animated fadeInUp">Software Engineer</h2>
          <!--<p class="animated fadeInUp">Measuring programming progress by lines of code is like measuring aircraft
            building progress by weight ~ Bill Gates</p>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About ME</h2>
            <p>Hi, I am Moiz Hussain, a Software Engineer at MICROSOFT CORPORATION, Redmond, WA. </p>
          </div>
          <p>I am passionate about automation and you will constantly find me automating tasks that otherwise require significant amount of manual effort. 
            I enjoy scripting, designing, front-end development and always look for opportunities to learn and implement the best practices at work.
            My main areas of interest include Azure, .NET MVC, Python and PowerShell. 
            During my leisure time, I love playing Cricket and visiting the Mountains! </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="img-circle">
          <img src="img/Profile2.jpg" width="350" height="350" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>EXPERIENCE</h2>
        <!-- <p>Completed my Undergrad (B.Tech) from NIT Warangal in Electronics and Communication, India and Graduated from the University of Colorado, Boulder with 
          Masters in Telecommunication.</p> -->
        <p>I have worked at Polycom Inc. as a grad Intern for 3 months on technologies like Elastic Search, Amazon S3 and CentOS. My work involved 
          developing scripts and tools to analyze Polycom call logs and represent the patterns visually.</p>
        <p>Joined Microsoft in 2016 as a college hire. I worked in Enterprise Commerce division as a Service Engineer for the first 1.5 years
           and mainly focused on monitoring, telemetry, troubleshooting and managing incidents. 
          Since the last 6 months, I have been working as a Software Engineer in the same organization with revised focus on bug fixes and automation. Over the course of my educational 
          curriculum and professional carrier, I have developed core skills in C#, SQL, Networking, Troubleshooting, PowerShell, Python and Linux.             
        </p>
        <a href="files/Moiz_Resume.pdf" download class="btn btn-view-works">Download Resume</a>
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<!--<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- Call to action Start -->
<!--<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About ME</h2>
        <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>